/* Header */
.logo img{
    width: 200px;
}
.collapse .btn {
    background-color: red;
    border-radius: 30px;
    width: 120px;
    color: #ffffff;
    font-weight: 500;
}
.collapse ul li a {
    color: #000000;
}
.collapse ul li a:hover{
    color: red;
    font-weight: 500;
}
/* Banner Area */
#banner-area{
    height: 400px;
    background-image: url('https://i.ibb.co/PZ19HzM/bannerbackground.png');
    background-position: center;
    background-size: cover;
}
.banner-text{
    text-align: center;
    margin-top: 120px;
}
.banner-search input{
    width: 300px;
    padding: 8px;
    border-radius: 40px;
    border: none;
}
.banner-search button {
    border-radius: 40px;
    padding: 8px;
    width: 120px;
    border: none;
    background-color: red;
    color: #ffffff;
    font-weight: 500;
    margin-left: -33px;
}
input[type='text']{
    outline: none;
}

/* Main Content  */
ul{
    list-style: none;
    justify-content: center;
    display: flex;
}
ul li{
    float: left;
    padding: 10px 25px;


}
.nav li{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}
.nav :hover{
    color: red;
}
.active{
    color: red;
    border-bottom: 1px solid red;
}

/* Home Food Items */
.card{
    width: 270px;
    height: 320px;
    border: none !important;
    padding: 10px;
    margin-bottom: 20px;
}
.card img{
    width: 70%;
    margin: 0 auto;
}
.card-body{
    text-align: center;
    line-height: 12px;
}
.card-body p{
    font-size: 14px;
}
.card-body a{
    color: #000000;
}
.card-body a:hover{
    text-decoration: none;
    color: red;
}
.card:hover{
    box-shadow: 0px 0px 20px 0px lightgray;
}
button{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
}
/* blog Area  */
.blog-card-text{
    text-align: justify;
    line-height: 20px;
    padding: 30px;
    margin-left: 30px;
}
.icons{
    font-size: 20px;
    color: rgb(47, 245, 47);
}
.iconsOne{
    background-color: red;
    color: #ffffff;
    height:50px;
    border-radius: 50%;
    position: absolute;
    font-size: 20px;
    left: 0;
    margin-left: 10px;
}
.card-img img{
    width: 100%;
}
.blog-card-text img{
    width: 50px;
    position: absolute;
    left: 0;
    margin-left: 10px;
}
/* Footer Area  */
#footerArea{
    height: 200px;
    background-color: #404040;
}
.footer{
    margin-top: 20px;
}
.footer-nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    display: block;
    padding: 2px;
}
.footer-nav a:hover{
    text-decoration: none;
    color: red;
}
/* Copy Right Area  */
#copyRight{
    height: 60px;
    background-color: rgb(117, 113, 113);
    color: #ffffff;
}
#copyRight .footer-nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    display: inline;
    padding: 10px;
}
#copyRight .footer-nav a:hover{
    text-decoration: none;
    color: red;
}

/* Cart Item  */

.cartAdd span{
    width: 120px;
    border-radius: 30px;
    border: 1px solid lightgray; 
    color: #000000;
    padding: 8px;
    background-color: #ffffff;
    font-size: 14px;
}
.cartAdd input{
    width: 30px;
    border: none;
    text-align: center;
}
.addSubmit button{
    width: 110px;
    background-color: red;
    border-radius: 30px;
    font-weight: 500;
    padding: 8px;
    display: block;

}
.featuredImg {
    display: flex;
}
.featuredImg img{
    width: 70%;
    margin: 0 auto;
}
.cat-img img{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.itemContent {
    text-align: justify;
}

/* form  */
form span{
    color: red;
}
form input{
    margin-top: 20px;
    display: flex;
    
}
input.form-control {
    width: 400px;
    background-color: 	#E8E8E8;
}

input.form-control.submit {
    background-color: red; 
    color: #ffffff;
    font-weight: 500;
}
hr{
    width: 400px;
    margin-left: 0px;
}

/* cart item  */

.addText{
    line-height: 10px;
}
.cart-item{
    display: flex;
    background-color: #E8E8E8;
    border-radius: 10px;
    padding: 20px;
}
.cart-text{
    line-height: 10px;
    margin-left: 20px;
}
.cart-text h5{
    color: red;
}
.cart-qty{
    margin-left: 50px;
}
.cart-qty input{
    width: 30px;
}
.totalValue{
    display: flex;
    padding: 20px;
}
.figure{
    text-align: right;
    margin: auto;
    margin-left: 150px;
}
.cart-main button{
    width: 100%;
    border-radius: 10px;
    background-color: #E8E8E8;
    font-weight: 500;
    color: #504d4d;
}